# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# SSH keys and passwords
**/id_rsa
**/ssh_passwords.json
**/ssh_access.json

# Ansible retry files
*.retry

# OS files
.DS_Store
Thumbs.db
