## JVM configuration for OpenSearch

# Set memory allocation based on available system memory
-Xms{{ heap_size }}
-Xmx{{ heap_size }}

# GC configuration
-XX:+UseG1GC
-XX:G1ReservePercent=25
-XX:InitiatingHeapOccupancyPercent=30

# JVM temporary directory
-Djava.io.tmpdir=${OPENSEARCH_TMPDIR}

# Heap dumps
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/var/lib/opensearch

# JVM options
-Dopensearch.path.home=/usr/share/opensearch
-Dopensearch.path.conf=/etc/opensearch
-Dopensearch.security.disabled=true
