{
  "generated_on": "${timestamp()}",
  "containers": {
%{ for name, container in containers ~}
    "${name}": {
      "hostname": "${container.hostname}",
      "ip": "${container.ip}",
      "username": "${container.username}",
      "password": "${container.password}"
    }%{ if name != keys(containers)[length(keys(containers))-1] },%{ endif }
%{ endfor ~}
  }
}
