[defaults]
host_key_checking = False
private_key_file = /home/ansible/new/Quick_Maple_lab/ansible/id_rsa
timeout = 30
inventory = inventory/hosts.yml
retry_files_enabled = False
vault_password_file = /home/ansible/new/Quick_Maple_lab/ansible/ssh_passwords.json
