[defaults]
inventory = inventory
host_key_checking = False
roles_path = roles
remote_user = root
private_key_file = id_rsa
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
gathering = smart
forks = 10
timeout = 60
command_timeout = 120
fact_caching = jsonfile
fact_caching_connection = ./fact_cache
fact_caching_timeout = 7200
deprecation_warnings = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=3
retries = 3
